.receive-btn { 
    background-color: #0056b3;
    color: white !important;
}

.receiver-certificate-buttons a {
    margin-left: 15px;
    padding: 8px 15px;
    border-radius: 4px;
    font-weight: 500;
}

/* Căn giữa nút */
.receiver-certificate-buttons {
    text-align: center;
}

.padding-on {
    padding-top: 2rem;
}

.line-through {
    border-top: 1px solid #e1e1e1;
    padding-top: 3rem;
}